<h1>Website Items</h1>

<%= link_to "Create New Item", new_website_url if logged_in?(:site_admin)%>

<% @angular_website_items.each do |website_item| %>
	<p><%= link_to website_item.title, website_show_path(website_item) %></p>
	<p><%= website_item.subtitle %></p>
	<p><%= website_item.body %></p>
	<%= image_tag website_item.thumb_image unless website_item.thumb_image.nil? %>
	<%= link_to "Edit", edit_website_path(website_item) if logged_in?(:site_admin) %>
	<%= link_to 'Delete Website Item', website_path(website_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
<% end %>