<h1>Website Items</h1>

<%= link_to "Create New Item", new_website_url %>

<% @website_items.each do |website_item| %>
	<p><%= website_item.title %></p>
	<p><%= website_item.subtitle %></p>
	<p><%= website_item.body %></p>
	<%= image_tag website_item.thumb_image unless website_item.thumb_image.nil? %>
	<%= link_to "Edit", edit_website_path(website_item.id) %>
	
<% end %>