<%= image_tag @website_item.main_image %>

<h1><%= @website_item.title %></h1>

<em><%= @website_item.subtitle %></em>

<p><%= @website_item.body %></p>

<h2>Partners Used:</h2>

<% @website_item.partners.each do |p| %>
<p><%= p.name %></p>
<% end %>