<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Edit content here <em>for specific events</em> to be featured.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://twitter.com/CHARTEducation"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "facebook-official" %></a></li>
      <li><a href="https://www.instagram.com/c.h.a.r.t.education/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://linkedin.com/in/martineadeleabar"><%= fa_icon "linkedin-square" %></a></li>
    </ol>
  </div>
</div>